<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeMoMovie"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.VerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.DetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.FavoriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminCategoryActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.admin.AdminCategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminSubscriptionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminSubscriptionGiftActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SeeAllActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.SeeAllActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.main.WatchingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.admin.AdminMovieAddActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.admin.AdminMovieDetailActivity"
            android:exported="false"/>
    </application>

</manifest>